<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p>Hi I'm <strong>Anuj Gupta. </strong><br> As an experienced Angular Developer, I thrive on crafting innovative
              solutions and
              delivering exceptional user experiences. With a strong background in software development and a keen eye
              for detail, I have successfully contributed to multiple projects throughout my career.
              With a passion for continuous learning and keeping up with the latest industry trends, I consistently
              strive to enhance my technical abilities.
              I am adept at leveraging my strong analytical and problem-solving skills to overcome challenges and drive
              project success.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4">
                <strong class="text-uppercase">Date of Birth:</strong>
              </div>
              <div class="col-sm-8">December 04, 1997</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Email:</strong>
              </div>
              <div class="col-sm-8">anujg0046@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Phone:</strong>
              </div>
              <div class="col-sm-8">+91 9729627410</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Address:</strong>
              </div>
              <div class="col-sm-8">H No.39,Sec-17,Huda,Jagadhri,Yamunanagar,Haryana,135001
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Language:</strong>
              </div>
              <div class="col-sm-8">Hindi, English</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>